.container {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.resultMain {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.resultNumber {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: brown;
}


.result {
    display: flex;
    padding: 10px;
}

.awardResult {
    width: 50%;
    height: 100%;
    background-color: chocolate;
}